<!DOCTYPE html>
<html>
<head>
  <title>Komdo</title>
  <link rel="stylesheet" href="/public/styles.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>Team Komdo is up!</h1>
</div>


</body>
</html>
