<!DOCTYPE html>
<html>
<head>
  <title>Komdo</title>
  <link rel="stylesheet" href="/bulma/bulma.css">
  <link rel="stylesheet" href="/public/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>

  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <img class="title" src="/public/KomdoLogo.png" alt="Komdo" width="50%" height="50%"/>
    </div>
  </div>
</section>

<section class="section" id="info-message">
  <h3 class="notification-title">Welcome</h3>
  <p class="notification-body">The price is the highest during this hours. Could you do some power savings between 8 and 9 today?</p>
</section>

  <section class="section">
    <div class="infobox">
      <div class="infobox-inner">
      <div class="ring">
      </div>
      </div>
    </div>
  </section>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script src="/public/script.js"></script>
</body>
</html>
