<!DOCTYPE html>
<html>
<head>
  <title>Komdo</title>
  <link rel="stylesheet" href="/bulma/bulma.css">
  <link rel="stylesheet" href="/public/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>

  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Komdo
      </h1>
      <h2 class="subtitle">
        This is our great slogan.
      </h2>
    </div>
  </div>
</section>

  <section class="section">
    <p>
      Cirkel ska in hit
    </p>
  </section>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/public/script.js"></script>
</body>
</html>
