<html>
<head>
  <link rel="stylesheet" href="/public/bgStyle.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/bulma/bulma.css">
  <title>
    Komdo
  </title>
</head>
<body>
<div class = "container has-text-centered centerDiv">
<a class="button is-outlined" href="/app">Go to our application</a>
</div>
</body>
</html>
