<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/bulma/bulma.css">
  <link rel="stylesheet" href="/public/styles.css" />
  <link rel="stylesheet" href="/public/bgStyle.css" />
  <title>
    Komdo
  </title>
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <img class="title" src="/public/KomdoLogo.png" alt="Komdo" width="140" height="50"/>
        <h2 class="subtitle">
          This is Komdo. An application made for the future of effective electricity solutions.
        </h2>
        <a id="nice" class="button is-white is-medium" href="/app">Test Demo</a>
      </div>
    </div>
  </section>
<!--
<div class = "container has-text-centered" id="content">
<a id="nice" class="button is-outlined is-large" href="/app">Our Application</a>
</br></br> This is Komdo. </br> An application made for the</br> future of effective electricity</br> solutions.

</div>
-->
</body>
</html>
