<html>
<head>
  <link rel="stylesheet" href="/public/bgStyle.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/bulma/bulma.css">
  <title>
    Komdo
  </title>
</head>
<body>
<div class = "container has-text-centered" id="content">
<a id="nice" class="button is-outlined is-large" href="/app">Our Application</a>
</br></br> This is Komdo. </br> An application made for the</br> future of effective electricity</br> solutions.

</div>

</body>
</html>
