.hero-body {
  text-align: center;
  background-color: #5CE2DF;
}
.subtitle {
  padding-top: 10px;
  padding-bottom: 40px;
}



/*
body {
    background-image: url("/public/bg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: local;
    background-size:cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 3.5cm;
    color: black;

}

#nice {
  background-color: transparent;
  color: black;
}
*/
