* {
  font-family: 'Lato', sans-serif;
}

#canvas {
  opacity: .8;
}

.pointer {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
}
.clock-number {
  position: absolute;
}
.pointer-1 {
  left: 180px;
  top: 20px;
}
.icon {
  width: 44px;
  height: 44px;
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
	margin-right: auto;
  margin-top: 7px;
  margin-bottom: auto;
}
.icon-circle {
  width: 50px;
  height: 50px;
  margin-top: 0;
}

.section {
  background-color: #F5F5F5;
  background-color: #fff;
}
.ring {
  width: 400px;
  height: 400px;
  border-radius: 400px;
  background-color: none;
  border: 10px solid #00D58C;
  position: absolute;

}
.infobox {
  height: 400px;
  position: relative;
  opacity: 0;
}
.infobox-inner {
  position: relative;
  width: 400px;
  height: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.not-circle {
  background-color: #fff;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 40px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .4s;
}
.not-circle:hover {
  box-shadow: 0 4px 28px rgba(0,0,0,0.25), 0 2px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.day-alert-text {
  font-weight: bolder;
}
.day-alert {
  border-radius: 2px;
  padding: 20px;
  background: #F5F5F5;
  width: 160px;
  position: absolute;
  left: 600px;
  right: 0px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.notification-title {
  font-weight: bolder;
}

#info-message {
  height: 200px;
  overflow: hidden;
}

.hour {
  font-weight: 700;
  font-size: 14px;
}
.notification-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
}
.notification-body {
  font-weight: 200;
  font-size: 18px;
  line-height: 1.6;
}
#info-message {
  padding-top: 0;
}
.ring-section {
  padding-top: 0;
}

.info {
  opacity: .8;
  height: 25px;
  width:25px;
  margin-top: 8px;
}

.hero {
  height: 80px;
}

.user-info {
  position: absolute;
  top: 0px;
  right: 20px;
}
#username {
  padding-right: 80px;
}

#user-photo {
  /*background-color: #333;*/
  background-image: url(/public/profile.jpg);
  background-size: 100%;
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: -10px;
  right: 20px;

}

.sk-chasing-dots {
  margin: 40px auto;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
          animation: sk-chasingDotsRotate 2s infinite linear; }
  .sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
            animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
  .sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
